@mixin animation($str) {
  -webkit-animation: #{$str};
     -moz-animation: #{$str};
      -ms-animation: #{$str};
          animation: #{$str};
}

.grid-block, .main, .package, .versions li {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #eee;
  color: #666666; }

#main {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px;
  .navbar-inner {
    border-radius: 0px 0px 3px 3px;
  }
}

#spinner {
  height: 300px; }

.package {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  &.invisible {
    opacity: 0;
  }
  &.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  &.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
  }
  .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
  }
  .package-content {
    float: left;
    h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px;
      a {
        display: inline-block;
        margin-right: 5px;
      }
      span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa;
      }
    }
    p {
      margin: 0;
    }
  }
  .details {
    display: block;
    float: right;
    margin-top: 7px;
  }
}

.versions {
  list-style-type: none;
  margin: 0;
  li{
    h4 {
      font-size: 16px;
      margin: 0;
      .date {
        font-size: 12px;
        font-weight: normal;
      }
      a {
        font-size: 12px;
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px;
  &:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
  }
}

.packages .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
  h2{
    font-size: 60px;
    font-weight: 100;
  }
}


@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
  @include animation('fadeOut 2700ms ease-in 0s 1 forwards');
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
