{
  "upstreamURL": "https://packages.meteor.com",
  "directories":
    {
      "tmp": ".tmp",
      "uploads": ".uploads"
    },
  "public":{
    "loginRequired":false
  },
  "meteorDeveloperAccount":{
    "clientId":"",
    "secret":""
  },
  "allowedUsers":[]
}